# Ignorar arquivos do sistema e temporários
.vscode/
*.log
*.tmp
*.swp
*.DS_Store
node_modules/

# Ignorar arquivos gerados pelo Flutter
build/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/

# Ignorar arquivos de configuração com chaves de API
lib/backend/api_requests/api_calls.dart
lib/backend/api_requests/api_manager.dart
android/app/src/main/res/xml/network_security_config.xml